node_modules
**/*.js
**/*.png
**/*.scss
**/*.css
**/*.mdx
**/*.md
**/*.html
*.json
*.svg
*.hbs
*.snap
**/scripts
package.json
package-lock.json
scripts/resources/*
post-install.js
sonar-project.properties
.eslintrc.js
jest.config.js
__test__/*
src/serviceWorkerRegistration.ts
src/service-worker.ts